:global(:root) {
  --color-black: #060606;
  --color-lightGrey: #f1f1f1;
  --color-darkGrey: #3e3e3e;
  --color-green: #08cd4d;
}

.color-lightGrey {
  color: var(--color-lightGrey);
}

.color-darkGrey {
  color: var(--color-darkGrey);
}

.color-green {
  color: var(--color-green);
}

.black {
  color: var(--color-black);
}
