.nav {
  height: 7rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.li {
  display: inline-block;
}

.navItem,
.navItem:after,
.navItem:before {
  transition: all 0.5s;
}

.navItem {
  composes: navItem from "../styles/typo.module.css";
  /* margin-left: 3rem; */
  display: block;
  margin-left: 2rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 1rem;
}

.navItem::after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: transparent;
}

.navItem:hover:after {
  animation: circle 1.2s ease-in forwards;
}

@keyframes circle {
  0% {
    width: 0.1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 0.1rem;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: var(--color-lightGrey);
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

.visualyHidden {
  composes: visualyHidden from "../styles/typo.module.css";
}

.navLogo {
  font-family: Biotif, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--color-darkGrey);
  font-size: 2rem;
  font-weight: bolder;
}
